<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Demo2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PhoneServlet</servlet-name>
    <servlet-class>PhoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LaptopServlet</servlet-name>
    <servlet-class>LaptopServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeadphoneServlet</servlet-name>
    <servlet-class>HeadphoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ESServlet</servlet-name>
    <servlet-class>ESServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WatchServlet</servlet-name>
    <servlet-class>WatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SpeakerServlet</servlet-name>
    <servlet-class>SpeakerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>SignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreManagerServlet</servlet-name>
    <servlet-class>StoreManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SalesmanServlet</servlet-name>
    <servlet-class>SalesmanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WriteReviewServlet</servlet-name>
    <servlet-class>WriteReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreReview</servlet-name>
    <servlet-class>StoreReview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Trending</servlet-name>
    <servlet-class>Trending</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccessoryServlet</servlet-name>
    <servlet-class>AccessoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewAllProductsServlet</servlet-name>
    <servlet-class>ViewAllProductsServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>AjaxUtility</servlet-name>
    <servlet-class>AjaxUtility</servlet-class>
  </servlet>
 <servlet>
        <servlet-name>DealMatches</servlet-name>
        <servlet-class>DealMatches</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DealMatches</servlet-name>
        <url-pattern>/DealMatches</url-pattern>
    </servlet-mapping>
</web-app>